h1{
    margin-left: 100px;
    margin-right: 100px;
   color: aliceblue; 
   text-align: center;
   font-size: 40px;
}

h2{
    margin-left: 100px;
    margin-right: 100px;
    color: aliceblue; 
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
}