h1{
    margin-left: 100px;
    margin-right: 100px;
   color: aliceblue; 
   text-align: center;
}

h2{
    margin-left: 100px;
    margin-right: 100px;
    color: aliceblue; 
    text-align: center;
}

p{
    color: aliceblue;
    text-align: center;
}