@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

.image-catalog {
    justify-content: center;
}

.image-item {
    margin: 10px;
    text-align: center;
}

.image-item a {
    text-decoration: none;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.image-item p {
    margin: 10px 0;
}

.image-item {
    overflow: hidden;
    transition: transform 0.3s; /* Agrega una transición suave a la propiedad de transformación */
}

.image-item a {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s; /* Agrega una transición suave a la propiedad de transformación */
}

.image-item:hover {
    transform: scale(1.1); /* Escala la imagen al 110% del tamaño original cuando se pasa el cursor sobre ella */
}

.image-item:hover a {
    transform: scale(1.1); /* Escala la imagen al 110% del tamaño original cuando se pasa el cursor sobre ella */
}
